<div class="sidebar">
    <div class="top-section">
        <a class="navbar-brand" href="/">@Localizer["AppName"]</a>
    </div>
    <div class="nav-menu">
        <NavLink class="nav-link" href="/shows" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> @Localizer["AppName"]
        </NavLink>
        <NavLink class="nav-link" href="/favorites">
            <span class="oi oi-star" aria-hidden="true"></span> @Localizer["FavoriteShows"]
        </NavLink>
        <NavLink class="nav-link" href="/recent-shows">
            <span class="oi oi-clock" aria-hidden="true"></span> @Localizer["Recents"]
        </NavLink>
    </div>
</div>